<!--The content below is only a placeholder and can be replaced.-->
<h2>Invoice Form</h2>
<form class="example-form" [formGroup]="invoiceForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput name="details" formControlName="details" placeholder="Ex. Pizza" [(ngModel)]="details">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

<router-outlet></router-outlet>
